<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="com.krist.flaska"
        version="1.0.0"
        viewmodes="fullscreen">
  <tizen:application id="com.krist.flaska" package="com.krist.flaska" required_version="2.3"/>
  <name>Flaska</name>
  <content src="index.html"/>
  <icon src="icon.png"/>
  <tizen:profile name="tv"/>
</widget>
